.App {
  text-align: center;
}

h2 {
  text-align: center;
}

/* 컨테이너 스타일 */
.WordRelayAPI {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  /*font-family: Arial, sans-serif;*/
}

/* 단어 및 이전 단어 목록 스타일 */
.Word {
  font-size: 24px;
  margin-bottom: 10px;
}

.PreviousWords {
  font-size: 16px;
  margin-bottom: 20px;
  color: #777;
}

/* 입력 폼 스타일 */
.FormContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.InputField {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-right: 10px;
  flex-grow: 1;
}

.SubmitButton {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.SubmitButton:hover {
  background-color: #0056b3;
}

/* 모달 스타일 */
.Modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ModalContent {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* 결과 스타일 */
.Result {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  color: #007bff;
}
